* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.main {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 5px solid black;
  margin: 30px;
  padding: 20px;
}
